.btn {
  border: none;
  background: none;

  width: 100%;

  background-color: var(--clr-main);
  color: var(--clr-secondary);

  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;

  padding: 1rem 4rem;

  cursor: pointer;

  transition: border-radius linear 0.05s;
  &:focus {
    outline: none;
    border-radius: 0.5em;
  }

  &--secondary {
    background: none;
    color: var(--clr-main);
    border: 2px solid var(--clr-main);
  }
}

.btn-group {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  @include screen-lg {
    flex-direction: row;
  }

  &__item {
    $mb: 2rem;

    margin-bottom: $mb;

    @include screen-lg {
      margin-right: 4rem;
    }

    @include screen-lg {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 0;

      @include screen-lg {
        margin-right: 0;
      }
    }
  }
}
